# Ignore compiled executables
src/client.exe
src/server.exe

# Ignore build directory
build/

# Ignore bin directory
bin/

# Ignore cache
.cache/

# Ignore locally generated UML diagram
task/umldiagram.png
